@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.12/css/weather-icons.min.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(./tree-832079__480.webp) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.form-control {
  padding: 0.475rem 0.75rem !important;
  border-radius: initial !important;
}

.mb-3, .my-3 {
  margin-bottom: 1rem!important;
  width: 400px;
  position: relative;
  top: 30px;
}

.widget {
  display: flex;
  height: 530px;
  width: 650px;
  flex-wrap: wrap;
  border-radius: 20px;
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3),
    0 17px 17px 0 rgba(0, 0, 0, 0.15);

    border-radius: 25px;
    background: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    color: black;
    padding: 2em;
    width: 100%;
    max-width: 420px;
    transform-style: preserve-3d;
    perspective: 1000px;
    margin: 1em;
    backdrop-filter: blur(5px);
    text-align: center;
    justify-content: center;
}
.widget .weatherIcon {
  /* flex: 1 100%;
  height: 50%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: #fafafa;
  font-family: weathericons;
  display: flex;
  align-items: center;
  font-size: 100px; */
  flex: 1 1 100%;
  height: 19%;
  font-family: weathericons;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 65px;
}

.widget .weatherInfo {
  height: 5%;
  color: #474eaf;
  display: flex;
  align-items: center;
}
.widget .weatherInfo .temperature {
  flex: 0 0 40%;
  width: 100%;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  margin-right: 20px;
}
.widget .weatherInfo .description {
  display: flex;
  width: 100%;
}
.widget .weatherInfo .description .weatherCondition {
  font-size: 30px;
  font-weight: 500;
}
.widget .weatherInfo .description .place {
  font-size: 15px;
}
.widget .date {
    color: #080705;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
}

.widget .extra-temp {
  flex: 1 1 100%;
  align-items: center;
  font-size: 60px;
  margin-top: 20px;
}

.widget .extra-temp p {
  font-size: 25px;
  font-weight: 600;
}

.temp-info-minmax,
.weather-extra-info,
.two-sided-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  align-items: center;
  color: #2d46b9;
  /* background-color: blanchedalmond; */
}

.widget .extra-temp .extra-info-leftside {
  text-align: left;
  font-weight: 600;
  text-transform: capitalize;
  color: #080705;
  font-size: 15px;
}

/* input search button style  */

.search {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.searchTerm {
  width: 50%;
  /* border: 3px solid #00b4cc; */
  border: none;
  padding: 16px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  font-size: 18px;
}

.searchTerm:focus {
  color: #2d46b9;
}

.searchButton {
  width: 80px;
  height: 32px;
  border: none;
  background: #2d46b9;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  outline: none;
  font-size: 16px;
}

.searchButton:hover {
  background-color: #4659b8;
}

.wrap {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
}
.input-group-text {
    background: #0f043a;
    color: #ffff;
}

.input-group-prepend {
  margin-right: -1px;
  cursor: pointer;
}
